@import './styles/_variables';

// ===== APP OUTER LAYOUT =====

.appRoot {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-dark; // or use $bg-light for light mode, but you toggle globally with body class
}
